.home{
   text-align: center;
   background-color: aquamarine;
   padding: 20px;
   margin-top: 10%;
   border-radius: 5px;
}
button{
   margin-top: 5px; 
   background-color: burlywood;
    padding: .625rem 2.5rem;
    border: burlywood;
    font-size: 19px;
    border-radius: 5px;
 }
 p{
   font-size: 20px;
   font-weight: bold;
 }